<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <a href="/" class="logo">
          <svg class="icon" viewBox="0 0 24 24" width="24" height="24">
            <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z" />
          </svg>
          <span class="title">MyApp</span>
        </a>
      </div>
      <nav>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="/about" class="footer-nav-link">About</a>
          </li>
          <li class="footer-nav-item">
            <a href="/contact" class="footer-nav-link">Contact</a>
          </li>
          <li class="footer-nav-item">
            <a href="/privacy" class="footer-nav-link">Privacy Policy</a>
          </li>
        </ul>
      </nav>
      <div class="footer-social">
        <a href="https://twitter.com" class="social-link">
          <svg class="icon" viewBox="0 0 24 24" width="24" height="24">
            <path d="M24 4.557a9.807 9.807 0 0 1-2.828.775A4.937 4.937 0 0 0 23.337 3c-.935.554-1.973.96-3.077 1.184A4.922 4.922 0 0 0 16.616 3a4.923 4.923 0 0 0-4.797 6.036A13.97 13.97 0 0 1 1.671 3.149a4.922 4.922 0 0 0 1.523 6.571 4.902 4.902 0 0 1-2.23-.617v.061a4.923 4.923 0 0 0 3.946 4.827 4.932 4.932 0 0 1-1.292.173c-.317 0-.626-.031-.928-.089a4.923 4.923 0 0 0 4.6 3.417A9.867 9.867 0 0 1 0 19.539a13.945 13.945 0 0 0 7.548 2.211c9.057 0 14.012-7.506 14.012-14.01 0-.213-.004-.425-.013-.636A10.02 10.02 0 0 0 24 4.557z"/>
          </svg>
        </a>
      </div>
    </div>
  </footer>
  