<header class="header">
  <div class="header-container">
    <a href="/" class="logo">
      <svg class="icon" viewBox="0 0 24 24" width="24" height="24">
        <path
          d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"
        />
      </svg>
      <span class="title">MyApp</span>
    </a>
    <nav>
      <ul class="nav-list">
        <!-- Siempre Visible -->
        <li class="nav-item">
          <button (click)="changeBG()">Cambiar Fondo</button>
        </li>
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>

        <!-- Mostrar si NO está autenticado -->
        <li class="nav-item" *appAuthState="false">
          <a routerLink="/signup" class="nav-link">Login</a>
        </li>
        <li class="nav-item" *appAuthState="false">
          <a routerLink="/register" class="nav-link nav-link--button">
            Register
          </a>
        </li>

        <!-- Mostrar si está autenticado -->
        <li class="nav-item" *appAuthState="true">
          <a routerLink="/profile" class="nav-link">Perfil</a>
        </li>
        <li class="nav-item" *appAuthState="true">
          <a class="nav-link nav-link--button" (click)="logout()">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
