
    <header class="header">
      <div class="header-container">
        <a href="/" class="logo">
          <svg class="icon" viewBox="0 0 24 24" width="24" height="24">
            <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/>
          </svg>
          <span class="title">MyApp</span>
        </a>
        <nav>
          <ul class="nav-list">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/signup" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a href="/register" class="nav-link nav-link--button">Register</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
